#warp{
	width: 94%;
	height: auto;
	overflow: hidden;
	margin: 20px auto;
	padding: 10px 20px;
	border: 1px solid #ccc;
}
#warp .add-app{
	display: block;
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background:#670768;
	color: #fff;
	border-radius: 4px; 
}
#warp .app{
	padding: 10px;
	margin-top: 20px;
	border: 1 solid #f6f6f6;
	border-radius: 4px;
}
#warp .app p{
	height: 30px;
	line-height: 30px;
}
#warp .app p strong{
	font-size: 20px;
	color: #0b99d8;
}
#warp .app dl{
	margin: 10px 0;
	border: 1px solid #dcdcdc;
	height: auto;
	overflow: hidden;
}
#warp .app dl dt{
	display: block;
	height: 30px;
	line-height: 30px;
	background:#e6e6fa;
	text-indent: 10px;
}
#warp .app dl dt strong{
	font-size: 16px;
	color:#0099FF;
}
#warp .app dl dd{
	padding: 10px;
	float: left;
}