/*----------增加总定义---------*/
a{color:#3366CC;text-decoration:none;}
a:hover{color:#F33;text-decoration:underline;}

.center{margin:0px auto;}
.w960{width:910px;position:relative;}
.mt1{/* ( margin-top * 1 ) */margin-top:8px;}
.mt2{/* ( margin-top * 2 ) */margin-top:16px;}
.clear{overflow:hidden;}
input{/*-----会员登录框----*/font:12px Verdana,Arial,Tahoma;}
.ipt-txt{/*-----会员登录框----*/
	line-height:12px;
	padding:1px 0px;
	border-width:1px;border-style:solid;border-color:#666 #BBB #BBB #666;font-size:12px;margin-right:2px;
}


/*---------- 左右---------*/

.pleftt{
	width:662px;
	float:right;
	overflow:hidden;
}

.prightt{
	width:240px;
	float:left;
	overflow:hidden;
}



/*---------- index ---------*/
.index .bignews{border:1px solid #C5DDBC;


	width:374px;
	height:192px;
	float:left;
	overflow:hidden;
}
.index .bignews a{font-size:14px;
	color:Black;
	
}
.index .bignews a:hover{text-decoration:underline;}

.index .bignews .onenews{ background:url(../images/bignews_bg.gif) top right no-repeat;
	padding:8px 12px;
	
}
.index .bignews .onenews h2{text-align:center;
	display:block;
	height:28px;
	line-height:25px;
}
.index .bignews .onenews h2 a{color:red; 

	font-size:16px;
}
.index .bignews .onenews p{
	line-height:19px;
	color:;
}

.index .bignews .onenews p a{color:red;
	font-size:12px;
}

.index .bignews .onenews p a:hover{text-decoration:underline;}

.index .bignews ul.d1{
	padding:3px 5px;
	border-bottommmmm:1px solid #EBEBEB;
         


	clear:both;
	overflow:hidden;
}

.index .bignews ul.d1 a:hover{color:red;}



.index .bignews ul.c2{
	width:416px;
	padding:6px 4px 0px;
	border-toppppp:2px solid #FAFAFA;
	clear:both;
	overflow:hidden;
}
.index .flashnews{
	width:280px;
	height:192px;
	overflow:hidden;
	float:right;
}
.index .latestnews{margin-bottom:2px;
	width:240px;
	height:200px;
	margin-top:8px;
	float:left;
}
.index .latestnews dl dd{
	padding:2px 5px;
}
.index .latestnews ul a{
	color:black;
}
.index .picnews{
	width:662px;
	float:left;
	clear:both;
	overflow:hidden;
	margin-top:8px;
}
.index .listbox{
	width:670px;
	overflow:hidden;
	float:left;
	clear:both;
	overflow:hidden;
}
.index .listbox dl{
	width:327px;
	margin-right:8px;
	margin-top:8px;
	float:left;
}
.index .listbox ul a{font-size:12px;TEXT-DECORATION:none;
	color:#039;
}

.index .listbox ul a:hover{color:red;
	
}



.index .usercenter .tbox dd{
	height:160px;
	display:none;
}
.index .usercenter .tbox dd#loading{
	display:block;
	text-align:center;
	line-height:200px;
	letter-spacing:2px;
	color:#999999;
}
.index .userlogin{
	padding-top:10px;
}





.index .userlogin .fb{
	height:37px;
}
.index .userlogin .fb span{margin-top:1px;
	float:left;
	width:60px;
	text-align:right;
	padding-right:6px;
	color:black;
}
.index .userlogin .fb img{margin-top:-5px;/* 负值 */;
	vertical-align:middle;
	margin-left:5px;
}





.index .userlogin .submit{
	text-align:center;
	padding-top:3px;
}
.index .userlogin .submit a{
	color:#030;
	margin-left:7px;
}
.index .userinfo{
	
}
.index .userinfo .welcome{
	width:220px;
	height:24px;
	margin:12px auto;
	background:#F9F9F9;
	border-top:1px solid #EEE;
	border-bottom:1px solid #EEE;
	line-height:23px;
	text-indent:10px;
	color:#777;
}
.index .userinfo .welcome strong{
	color:#F60;
	font-weight:bold;
}
.index .userinfo .userface{
	width:60px;
	height:64px;
	overflow:hidden;
	padding-left:16px;
	padding-top:2px;
	float:left;
}
.index .userinfo .userface a{
	display:block;
	margin:0px auto;
	text-align:center;
}
.index .userinfo .userface a img{
	width:52px;
	height:52px;
	display:block;
	margin:0px auto 6px;
	padding:2px;
	border:1px solid #DDD;
}
.index .userinfo .mylink{
	width:144px;
	float:left;
	overflow:hidden;
}
.index .userinfo .mylink ul{
}
.index .userinfo .mylink ul li{
	width:72px;
	float:left;
	line-height:21px;
	text-indent:12px;
}
.index .userinfo .mylink ul li a{
	color:black;	
}
.index .userinfo .uclink{
	height:31px;
	line-height:31px;
	clear:both;
	overflow:hidden;
	text-align:center;
	color:#DDD;
}
.index .userinfo .uclink a{
	color:#690;
	margin:0px 2px;
}

.index .commend dl dd{
	padding-top:0px;
}
.index .hot dl dd{
	padding-top:0px;
}
.index .hot dl dd .c1 li{
	width:210px;
	overflow:hidden;
}


.tbox{/* 自适应宽度的块(通用块) */
	width:100%;
	border-bottom:1px solid #3bbe32;
	overflow:hidden;
}
.tbox dt{border: 1px solid #3bbe32;
	height:25px;
	background: #75dc81 url(bg1.png) repeat-x;
	overflow:hidden;
	clear:both;
}
.tbox dt strong{
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:4px;
	display:block;
	float:left;
	color:white;font-size:14px;font-weight: bold;
	background: #75dc81 url(bg1.png) repeat-x;
	letter-spacing:1px;
}
.tbox dt strong a{
	color:white;font-size:14px;font-weight: bold;
}
.tbox dt strong a:hover{
	color:blue;
	text-decoration:none;
}
.tbox dt span.more{
	float:right;
	position:relative;
	line-height:25px;
	padding-right:8px;
	color:white;font-size:14px;font-weight: bold;
}
.tbox dt span.more a{
	color:white;font-size:14px;font-weight: bold;
	text-decoration:none;
}
.tbox dt span.more a:hover{
	color:red;
}


.tbox dd{
	border-left:1px solid #3bbe32;
	border-right:1px solid #3bbe32;
	padding:4px 4px 0px;
	overflow:hidden;
}



/* 眉头黑色定义 */

.tbox1{
	width:100%;
	border-bottom:1px solid #41545b;
	overflow:hidden;
}
.tbox1 dt{border: 1px solid #41545b;
	height:25px;
	background: #75dc81 url(bg1.png) repeat-x 0 -500px;
	overflow:hidden;
	clear:both;
}
.tbox1 dt strong{
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:4px;
	display:block;
	float:left;
	color:white;font-size:14px;font-weight: bold;
	background: #75dc81 url(bg1.png) repeat-x 0 -500px;
	letter-spacing:1px;
}

.tbox1 dd{background:url(bg1.png) repeat-x 0 -526px;
	border-left:1px solid #41545b;
	border-right:1px solid #41545b;
	padding:4px 4px 0px;
	overflow:hidden;
}

/* 眉头黑色定义 */



/* 眉头淡蓝色定义 */

.tbox2{
	width:100%;
	border-bottom:1px solid #abb8bf;
	overflow:hidden;
}
.tbox2 dt{border: 1px solid #abb8bf;
	height:25px;
	background: #dfe8ed url(bg1.png) repeat-x 0 -70px;
	overflow:hidden;
	clear:both;
}
.tbox2 dt strong{
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:4px;
	display:block;
	float:left;
	color:black;font-size:14px;font-weight: bold;
	background: #dfe8ed url(bg1.png) repeat-x 0 -70px;
	letter-spacing:1px;
}

.tbox2 dd{
	border-left:1px solid #abb8bf;
	border-right:1px solid #abb8bf;
	padding:4px 4px 0px;
	overflow:hidden;
}

/* 眉头淡蓝色定义 */





.tbox888{
	margin:0 0 0px 0;
	
	overflow:hidden;
	/*background:url(../images/fl-bg.gif) 0 0 repeat-x;*/
}
.tbox888 dt{
	height:25px;
	
	overflow:hidden;
	clear:both;
}
.tbox888 dd{margin:0 3px 0;background:white;/* 圆角icons方框内容 */
	
	padding:4px 4px 0px;
	overflow:hidden;
}

.tbox888 dd li a:hover{color:red;text-decoration:underline;/* 鼠标悬停色 */}
.tbox888 dt strong{
	height:26px;
	line-height:26px; !important;line-height:25px;

	padding-left:28px;font-size:14px;/* 修改fbico1.gif内容 */
	padding-right:4px;
	display:block;
	float:left;
	color:#397CBE;
	background:url(../images/icons.gif) 5px 2px no-repeat;/* 修改fbico1.gif内容 */
	letter-spacing:1px;
}
.tbox888 dt strong a{
	color:blue;
}
.tbox888 dt strong a:hover{
	color:red;
	text-decoration:none;
}
.tbox888 dt span.more{
	float:right;
	position:relative;
	line-height:26px;
	padding-right:8px;
	color:#397CBE;font-size:14px;/* 修改字体大小内容 */
}
.tbox888 dt span.more a{
	color:blue;
	text-decoration:none;
}
.tbox888 dt span.more a:hover{
	color:red;
}








/*---------- c : 纯文本列表 ---------*/
.c1{/* 纯文本链接列表 */    /*本月热点2009年*/
	padding:4px 0px;
	clear:right;
}
.c1 li{
	height:27px;
	line-height:27px;
	overflow:hidden;
	padding-left:1px;
	
}
.c1 li a{color:black;
}
.c1 li a:hover{text-decoration:underline;color:red;}


/*---------- d : 附加信息列表 ---------*/
.d1{/* 前置时间日期的小列表 */  /*今日头条2009年*/
	padding:4px 0px;
}
.d1 li{
	height:27px;
	line-height:27px;
	overflow:hidden;
}
.d1 li span{
	color:green;
	margin-right:5px;
	float:right;
}
.d1 li a{
}
.d2{/* 后置时间日期的小列表 */  /*最近更新2009年*/
	padding:4px 0px;
}
.d2 li{
	height:27px;
	line-height:27px;
	overflow:hidden;
}
.d2 li span{
	color:green;
	float:right;
	padding-right:10px;
	margin-left:10px;
}
.d2 li a{
	overflow:hidden;
}

.d4{/*带内容简介的小列表*/padding:4px 0px; /*推荐文章2009年*/
}
.d4 li{
	height:23px;
	line-height:23px;
	overflow:hidden;
	padding-left:16px;
	padding:0px 0px;
}
.d4 li a{color:black;font-size:14px;
	display:block;
	line-height:23px;
	overflow:hidden;
	text-indent:14px;
	background:url(../images/ico-3.gif) 0px 6px no-repeat;
}


.d4 li a:hover{text-decoration:underline;color:red;}

/*---------- e : 图文混排列表 ---------*/
.e1{/* 横向浮动的图片列表 120*90  */
	width:100%;
	overflow:hidden;
	clear:both;
	padding-top:10px;
	padding-bottom:8px;
}
.e1 li{
	width:116px;
	overflow:hidden;
	padding-left:12px;
	float:left;
	text-align:center;
}
.e1 li a{
	display:block;
}


.e1 li a:hover{text-decoration:underline;color:red;}

.e1 li a:hover img{
	border:1px solid #999;
	padding:2px;
}
.e1 li a img{
	display:block;
	border:1px solid #E3E3E3;
	padding:2px;
	width:110px;
	height:90px;
}
.e1 li a span{
	display:block;
	line-height:17px;
	padding-top:6px;
}
.e1 li span{
	
}

.f5{/*友情链接(文字)专用*/
	width:100%;
	overflow:hidden;
	clear:both;
	padding-bottom:10px;
}
.f5 li{
	float:left;
	line-height:14px;
	padding:8px 10px 0px;
	white-space:nowrap;
}
.f5 li a{
	color:black;
	float:left;
}

.ico1 li{/* 原来 */
	padding-left:14px;
	background:url(../images/ico-1.gif) 5px 13px no-repeat;
}
.ico2 li{/* 热门 */
	padding-left:16px;
	background:url(../images/ico-2.gif) 0px 7px no-repeat;
}
.ico3 li{/* 推荐.d4 栏目列表*/
	padding-left:16px;
	background:url(../images/ico-1.gif) 3px 13px no-repeat;
}

.cp{/*黄色星座爱情网*/border-left:1px solid #FCD372;border-right:1px solid #FCD372;padding-bottom:0px;zoom:1;background:#FDE7A2;}
.cp_1,.cp_2,.cp_3,.cp_4,.cp_5{height:1px;overflow:hidden;font-size:0;margin:0 1px;border:0 solid #FCD372;}
.cp_1{background:#FCD372;margin:0 3px;}
.cp_5,.cp_2{border-left-width:2px;border-right-width:2px;}
.cp_4,.cp_3{border-left-width:1px;border-right-width:1px;}

.cp_2,.cp_3{background:#FDE7A2;}
.cp_4,.cp_5{background:#FDE7A2;/*可以变动*/}

/*圆角眉头定义星座爱情网*/


.place strong{color:green;font-weight:normal;letter-spacing:1px;}
.place a{color:blue;margin:0px 2px;}
.place a:link{color:blue;margin:0px 2px;}




/*---------- 百度搜索定义 ---------*/
.searchbox{}
.searchbox{width: 908px/*绿色变动*/;
    clear: both;
    height: 55px;
    margin:0px 10px 10px 10px/*绿色变动*/;
    border: 1px solid #abb8be;
    border-width: 0 1px 0;
    background: url(nav.png) repeat-x 0 -100px;}

.searchbox * {margin:0px;padding:0px;} 
.searchbox .key{padding: 4px 24px;/*新加*/
    float: left; width: 500px;height: 45px;overflow: hidden;margin-top: 0px;}
.searchbox .search{padding-top:17px/*IE6下用padding*/;padding-right:17px/*绿色变动*/;float:right;text-align:right; font-size:14px;}
.searchbox .search input {vertical-align:middle; font-size:14px;}
.searchbox .search input.textbox {background:#fff url(../images2009/icon_search.gif) no-repeat 2px; border:1px solid #b4b4b4; margin-left:5px; padding:2px 2px 2px 22px;width:140px;line-height: 19px;height:17px/*绿色变动*/;color: #ccc;/*暗色*/margin-top:-2px;}

.searchbox .search input.button{margin-top:-3px;/*绿色变动*/}
.searchbox .key a{color:#333;padding:5px 4px;}



@charset "gb2312";

body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, 
h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, 
form, legend, fieldset, input, button, select, textarea {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
}
ol, ul {
    list-style: none;
}
fieldset, img {
    border: 0;
}
:focus {
    outline: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
}

body {
    color: #333;
    background: url() repeat-x #deebf3/*-注销掉--*/;
    text-align: center;
    font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
}

/*
body {
    color: #333;
    background: url(body_bg2.jpg) repeat-x #FFFAD2; /*#deebf3*/
    text-align: center;
    font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
}
*/
.cztopbg{
	background-image: url(cztopbg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 50px;
}

.clearfix {
    display: inline-block;
}

.f14{
    font-size:12px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
/*\*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/**/
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.hidden {
    display: none;
}
html, body {
    height: 100%;
}
* html .container {
    height: 100%;
}
.container {
    width: 930px;
    min-height: 100%;
    margin: auto;
    text-align: left;
    background: #fff;
}
.container .wrap {
    margin: 0 10px;
}


#top_img{
    margin: 10px 10px;
}

.col1, .col2, .col3, .col4, .col5, .news_sort {
    float: left;
    margin-right: 10px;
}
.layout-cols2 .col1 {
    width: 630px;
    overflow:hidden;
}
.layout-cols2 .col2 {
    width: 270px;
    margin-right: 0;
    overflow:hidden;
}

.layout-cols2, .layout-cols3 {
    margin-bottom: 0 !important;
}




/* Header  
==========================================================*/
.header {margin: 0 10px 5px;
    
}
.topnav {
    position: relative;
    margin: 0 -10px 5px;
    padding: 0 15px;
    height: 2em;
    line-height: 2;
    background: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
}
.topnav, .topnav a:link, .topnav a:visited {
    color: #666;
}
.topnav a:hover, .topnav a:active {
    color: #036;
    text-decoration: underline;
}
.topnav span{float:right;/*新加浮动定义*/}



.brand, .ad-banner {
    float: left;
    margin-right: 7px;
}
.ad-banner {
    width: 468px;
    height: 60px;
    overflow: hidden;
}
.ad-text {
    float: right;
    width: 251px;
    height: 58px;
    line-height: 1.6;
    background: white; 
}
.ad-text li {
    width: 49.9%;
    float: left;
    text-indent: 3px;
    white-space: nowrap;
}
.brand h1.site-name {
    display: none;
}
.brand a img {
    display: block;
}

/* Nav导航定义
==========================================================*/


.nav {margin: 5px 10px 0px;/*绿色变动*/position: relative;
    width: 910px;height: 29px;/*====IE6下必须定义宽度高度====*/}

.navinner {}

.navinner ul.navlist a {}
.navinner ul.navlist a:hover {}
.navinner ul.navlist {height: 29px;
    padding-left: 6px;
    border: 1px solid #3bbe32;
    border-width: 0 1px 0;
    background: #79dd85 url(nav.png) repeat-x 0 -2px;}

.navinner ul.navlist li {float: left;
    padding-left: 2px;
    margin-right: -2px;
    background: url(nav.png) no-repeat 0 -33px;}

.navinner ul.navlist li a{ position: relative;font-size:14px/*绿色变动*/;font-weight:bold;
    margin-top: -2px;
    float: left;
    height: 31px;
    line-height: 35px;
    padding: 0 12px/*绿色变动*/;
    overflow:hidden;}

.navinner ul.navlist li a:link, .navinner ul.navlist li a:visited {color: #fff;}

.navinner ul.navlist li a:hover,.navinner li.current a,.navinner li.current a:hover{
        padding: 0 11px/*绿色变动*/;
    border: 1px solid #abb8be;
    border-width: 0 1px 0;
    text-decoration: none;
    color: #3f535e !important;
    background: #fff url(nav.png) repeat-x 0 -62px;}

.navinner li.home {margin-left:0px;}







/* Sitemap Footer#313131
==========================================================*/
a:link{
	color:;
	text-decoration:none;
}
a:visited{
	color:;
	text-decoration:none;
}
a:hover{
	color:#BF001F;
	text-decoration:none;
}



/* 链接颜色定义移动后的改变
==========================================================*/
a:link{
	color:black;
	text-decoration:none;
}


a.v_red:link{
	color:#BF001F;
	text-decoration:none;
}
a.v_red:visited{
	color:#BF001F;
	text-decoration:none;
}
a.v_red:hover{
	color:#BF001F;
	text-decoration:underline;
}


/*---------- 网站底部增加定义 ---------*/
.foot{padding-top:10px;border-bottom:1px solid #ccc;margin-left:10px;margin-right:10px;}

/*---------- 网站底部版权 ---------*/

#footer{ padding-top:1em; text-align:center; line-height:22px; clear:both; width:930px;margin:0 auto;
background:white/* 白色背景增加定义 */;}
#footer a{color:#039;}
#footer a:hover{color:#f60;}
#footer span{font-family:tahoma; font-size:11px;}

.front{/*你的排行榜列表*/
FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/top.gif) no-repeat; FLOAT: left; MARGIN: 8px 4px 4px 0px; WIDTH: 12px; COLOR: #fff; LINE-HEIGHT: 11px; font-family:Verdana, Geneva, sans-serif; HEIGHT: 11px; TEXT-ALIGN: center}
.front1{
FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: url(../images/top1.gif) no-repeat; FLOAT: left; MARGIN: 7px 4px 4px 0px; WIDTH: 12px; COLOR: #fff; LINE-HEIGHT: 11px; font-family:Verdana, Geneva, sans-serif; HEIGHT: 11px; TEXT-ALIGN: center}


