@charset "gb2312";
*{margin:0; padding:0;}
body {
	padding:0px; margin:0px auto; background: #ffffff;font-size: 12px;
	font-family:"ו";
}
a {
	outline-style: none; outline-color: invert; outline-width: medium; text-decoration:none;color:#000000;
}
#mainbody {
	padding:0px;
	margin: 0px auto;
	width: 970px;
	height:auto;
	background: #ffffff;
}
#headdiv {
	margin: 0px auto;
	width: 970px;
	background: none transparent scroll repeat 0% 0%;
	padding: 0px;
	height: 126px;
}

.lanmu_t{
font-size:14px;
color:#182f8f;
font-weight:bold;}
#mainbody #headdiv #menubar #menus .menu {
	font-size: 14px;
	font-weight: bold;
}
#tool {
	color: #cccccc;
	font-size: 12px;
	text-decoration: none;
	padding-right: 18px;
}
#headdiv #tool1 {
	margin-left: -20px;
}
#tool1   a {
	color: #5a5a5a; margin-left: 3px; font-size: 12px; margin-right: 3px; text-decoration: none;
}
#tool1   a:hover {
	color: #ff6600; text-decoration: underline;
}

.more {
	text-align: right;
	padding-right:20px;
	margin:0px;
}
#mainbody #miantext h4 {
	padding-top: 6px;padding-right: 0px;padding-bottom: 0px;padding-left: 33px;
}
.more a {
	border-bottom: #333333 0px solid; padding-bottom: 0px; color: #6e6c6c; font-size: 12px; text-decoration: none;
}
.more a:hover {
	border-bottom: #ff6600 1px solid; padding-bottom: 0px; color: #ff6600; font-size: 12px; text-decoration: none;  
}
#download1 a {
	color: #000000; cursor: hand; text-decoration: none;
}
#mainbody #headdiv #logo {
	z-index: 10;
	position: absolute;
	width: 198px;
	height: 71px;
	top: 4px;
	margin: 0px auto;
}
#friendlink {
	margin: 0px auto; width: 970px;padding:0px;
}

#copyrightA {
	color: #5a5a5a;
	font-size: 12px;
	padding-left: 0px;
	padding-top: 5px;
}
#partner img {
	border: medium none; 
}
#logoing  img {
	border: medium none;
	margin-left: 8px;
	margin-right: 8px;
}
a img {
	border: medium none; 
}
form {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
}
INPUT {
	border: #cccccc 1px solid; padding-left: 10px; color: #5a5a5a; padding-top: 2px;
}
#search {
	border: medium none;	
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 57px;
	padding-right:0px;
	background:url("http://www.hejianjiao.org/images/images/search.gif") no-repeat center 20%;
	color: #ffffff;
	cursor: hand;
    padding-top: 3px;
}

.col3 a{
    color:#45640e;
	font-size:12px;
}
.listingstyle02 {
	padding: 0px;
	line-height: 20px;
	list-style-type: none;
	margin: 0px;
}
.listingstyle02 li {
  line-height:20px;
  list-style-type: none;
  margin: 0px; 
  padding:5px 0 0 0;

}
#friendlink #logoimg a:hover{
    color: #ff6600;
}
.listingstyle02 a {
	border:medium none;  color: #333333; font-size: 13px; text-decoration: none;
}
.listingstyle02 a:hover {
	color: #ff6600; font-size: 13px; text-decoration: underline;
}

#friendlink #logoimg ul {
	float: left;list-style-type: none;width: 872px;height: 100px;
}
#friendlink #logoimg li {
	float: left;width: 872px;height: 50px;
}
.flt1,.flt2 {
	float: left;border:none;
}
.flt1{margin-right:-3px;}
.flt2{margin-left:-3px;}
.frt {
	float: right;
}
.clearit {
	clear: both;
}
.disp {
	display: block;
}
#menubar {
	position: absolute;
	width: 558px;
	font-family: Arial;
	top: 59px;
	left:420px;
	height: 33px;
}
#menubar img {
	border-style: none;
}
#menubar ul.menus {
	padding: 0px;
	margin: 0px;
}
#menubar ul.menus li {
	list-style-type: none;	float: left;margin-left:10px;
}
#menubar ul.menus li a:link {
	display: block; color: #000; text-decoration: none;
}
#menubar ul.menus li a:visited {
	display: block; color: #000; text-decoration: none;
}
#menubar ul.menus li a:hover {
	color: #ff6600;
}
#menubar ul.menus li a:active {
	color: #1362b4;
}
 #bigpic {
	text-align: left;width:970px;overflow: hidden;padding: 0px;
	margin:1px 0 0 0;_margin-top:-3px;
}
#mainbody #headdiv #miantext p {
	text-align: justify;text-justify: inter-ideograph;letter-spacing: 0px;
}
#menubar .menus ul {
	position: absolute; margin-top: 0px; padding-top: 0px;
}
#menubar .children {
	padding: 0px; margin: 0px;  width: 500px; display: none; top: 28px; 
}
#menubar .children li {
	text-align: center; padding:0px; margin: 0px; 
}
#menubar .children li a {
	padding:0px 10px; background:url("http://www.hejianjiao.org/images/images/bj.jpg") repeat-x;_background:url("http://www.hejianjiao.org/images/images/bj.jpg") repeat-x;
}
#menubar .children li ul {
	padding: 15px 0px;width: 1px;background: url("http://www.hejianjiao.org/images/images/bj.jpg") repeat-x; float: left; height: 36px;_background:url("http://www.hejianjiao.org/images/images/bj.jpg") repeat-x;
}
a.sub_menu:link {
	text-align: center; padding: 0px 10px;  font: 12px/35px Arial; float: left; height: 51px; color: #000; _padding:0px;
}
a.sub_menu:visited {
	text-align: center; padding: 0px 10px;  font: 12px/35px Arial; float: left; height: 51px; color: #000; _padding:0px;
}
a.sub_menu:hover {
	color: #ff6600;
}
a.sub_menu:active {
	color: #1362b4;
}
.bottom {
	margin:50px auto 0px;
	width: 970px;
	height:80px;
	clear:both;
}
.bottom #line {
	margin-bottom: 15px;
}